<div class="ui one column grid">
  <div class="column">
    <% if local_assigns[:sent] %>
      You wrote to <%= message.recipient_name %>: <%= message.body %>
    <% else %>
      <%= message.sender_name %> says: <%= message.body %>
    <% end %>
  </div>
</div>