<h2>Inbox</h2>

<h4>
  <%= link_to 'View sent messages', outbox_messages_path %>
</h4>

<%= link_to 'Send a message', new_message_path, class: 'ui button primary' %>

<h2>Received Messages:</h2>
<%= render @messages %>
<%= paginate @messages %>