[Unit]
Description=Puma HTTP Server Accept Sockets
After=network.target
Requires=puma.socket

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/var/www/messenger
PIDFile=/var/www/messenger/puma/tmp/pids/puma.pid
ExecStart=/var/www/messenger/puma -C config/puma.rb
Restart=always

[Install]
WantedBy=multi-user.target