[Unit]
Description=Puma HTTP Server Accept Sockets
After=network.target
Requires=puma.socket

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/var/www/messenger
PIDFile=/var/www/messenger/puma/tmp/pids/puma.pid
EnvironmentFile=/etc/systemd/system/puma.service.d/env.conf
ExecStart=/var/www/messenger/sbin/puma -C /var/www/messenger/config/puma.rb
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target