.main-content {
  padding: 10px;
}

.flash-container {
  margin: 10px auto !important;
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;

  &.success, &.notice {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
  }

  &.success {
    animation: fadeOut 3s forwards;
    animation-delay: 3s;
  }

  &.error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
  }
}

@keyframes fadeOut {
  from { opacity: 1; visibility: visible; }
  to { opacity: 0; visibility: hidden; }
}