#password-strength-meter {
  width: 100%;
  &[value="0"]::-webkit-meter-optimum-value,
  &[value="0"]::-moz-meter-bar,
  &[value="1"]::-webkit-meter-optimum-value,
  &[value="1"]::-moz-meter-bar {
    background: crimson;
  }
  &[value="2"]::-webkit-meter-optimum-value,
  &[value="2"]::-moz-meter-bar {
    background: darkorange;
  }
  &[value="3"]::-webkit-meter-optimum-value,
  &[value="3"]::-moz-meter-bar {
    background: gold;
  }
  &[value="4"]::-webkit-meter-optimum-value,
  &[value="4"]::-moz-meter-bar {
    background: green;
  }
}

#match_label {
  display: inline-block;
  padding-left: 10px;
}

.hide {
  display: none;
}